<div class="container mt-4">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{userHold.imageFile}}" class="rounded-circle mb-3" width="80" height="80" alt="Profile picture">
            <h5 class="card-title">{{ userHold.username }}</h5>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Personal information</h5>
            <ul class="list-group">
              <li class="list-group-item">{{userHold.name}}</li>
              <li class="list-group-item">{{userHold.birthday}}</li>
              <li class="list-group-item">{{majorOfUser?.name}}</li>
              <button class="btn btn-primary mt-3 w-100" (click)="updateUser()">Edit Profile</button>
            </ul>
          </div>
        </div>
        <div class="card mb-4"> 
          <button class="btn btn-primary mt-3 w-100" *ngIf="userHold.role === 'TUTOR'" (click)="bookSchedule()" data-bs-target="#scheduleModal">Set schedule</button>

            <!-- Nút My Schedule -->
          <button class="btn btn-secondary mt-2 w-100" (click)="checkShowListSchedule()">My Schedule</button>
            <div *ngIf="showListSchedule">
              <!-- Hiển thị danh sách lịch học -->
              <div *ngIf="schedulesOfTutor.length > 0" class="mt-3">
                <h6 class="text-center">Danh sách lịch học</h6>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let schedule of schedulesOfTutor">
                    <strong>Học viên:</strong> {{ schedule.studentDto?.username }} <br>
                    <strong>Tutor:</strong> {{ schedule.tutorDto?.username }} <br>
                    <strong>Bắt đầu:</strong> {{ schedule.startTime | date:'dd/MM/yyyy HH:mm' }} <br>
                    <strong>Kết thúc:</strong> {{ schedule.endTime | date:'dd/MM/yyyy HH:mm' }} <br>
                    <strong>Status:</strong> {{ schedule.status}} <br>
                    
                    <div *ngIf="userHold.role === 'TUTOR'">
                      <div class="d-flex align-items-center">
                        <!-- Dropdown chọn trạng thái -->
                        <select class="form-select form-select-sm w-auto me-3" [(ngModel)]="schedule.status">
                          <option value="" disabled selected>Chọn trạng thái</option>
                          <option value="Attended">Attended</option>
                          <option value="Absent">Absent</option>
                        </select>
                          <!-- Nút Set Status -->
                          <button class="btn btn-warning btn-sm me-2" (click)="updateStatusSchedule(schedule)">
                            Set Status
                          </button>
              
                          <!-- Nút Delete -->
                          <button class="btn btn-danger btn-sm" (click)="deteteSchedule(schedule)">
                            Delete
                          </button>
                        </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Nếu không có lịch học, hiển thị thông báo -->
              <p *ngIf="schedulesOfTutor.length === 0" class="text-center mt-2 text-muted">Chưa có lịch học nào.</p>
            </div>

          <div *ngIf="userHold.role === 'TUTOR'">
            <button class="btn btn-info mt-2 w-100" (click)="checkShowListStudentOrTutorOutSide()">My Students</button>
              <div *ngIf="showListStudentsOfTutorOutSide" class="mt-3">
                <h6 class="text-center">Danh sách học sinh</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let student of studentsOfTutor">
                    <span>{{ student.name }}</span>
                    <button class="btn btn-primary btn-sm" (click)="setRecipient(student.username!)">
                      Chat
                    </button>
                  </li>
                </ul>
              </div>
          </div>


          <div *ngIf="userHold.role === 'STUDENT'">
            <button class="btn btn-info mt-2 w-100" (click)="checkShowListStudentOrTutorOutSide()">My Tutors</button>
              <div *ngIf="showListStudentsOfTutorOutSide" class="mt-3">
                <h6 class="text-center">List Tutors</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tutor of tutorsOfStudent">
                    <span>{{ tutor.name }}</span>
                    <button class="btn btn-primary btn-sm" (click)="setRecipient(tutor.username!)">
                      Chat
                    </button>
                  </li>
                </ul>
              </div>
          </div>


            <button class="btn btn-danger mt-2 w-100" (click)="logoutUser()">Logout</button>

        </div>
      </div>

      <!-- Blog Content -->
      <div class="col-lg-8">

        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Create a Post</h5>
            <textarea class="form-control mb-3" rows="4" [(ngModel)]="content" placeholder="What's on your mind?"></textarea>
            <!-- <input type="file" class="form-control mb-3" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx" /> -->

            <button class="btn btn-primary" (click)="saveBlog()">Post</button>
          </div>
        </div>

        <div *ngFor="let blog of blogs" class="card mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <img src="{{findObjectByUser(blog.userDto!).imageFile! }}" class="rounded-circle" width="50" height="50" alt="Author">
              <div class="ms-3">
                <h6 class="mb-0">{{ findObjectByUser(blog.userDto!).name! }}</h6>
                <p class="text-muted small">{{ blog.createdAt!.toString().split('.')[0].replace('T', ' ') }}</p>

              </div>
            </div>
            <p>{{ blog.content }}</p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-light"><i class="far fa-thumbs-up"></i> Like</button>
              <button class="btn btn-light"><i class="far fa-comment-alt"></i> Comment</button>
              <button class="btn btn-light"><i class="fas fa-share"></i> Share</button>
            </div>
            <input type="text" class="form-control mt-3" placeholder="Write a comment...">
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div class="modal" id="myModalUpdateUser" #myModalUpdateUser>
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Update information</h5>
                <button type="button" class="btn-close" aria-label="Đóng" (click)="closeModalUpdate()"></button>
            </div>
            <div class="modal-body">
                    <form  [formGroup]="userFormUpdate" (ngSubmit)="onSubmitUpdate()">
                            <div class="mb-2">
                                <input type="text" class="form-control" formControlName="nameUpdate" placeholder="Name update">
                            </div>
                            <div class="mb-2">
                                <input  type="date" class="form-control" formControlName="birthdayUpdate" id="birthday" rows="2" placeholder="Birthday">
                            </div>

                            <div class="mb-2">
                                <label for="imageFileUpdate">Image</label><br>
                                <input type="file" id="imageFileUpdate" class="form-control" (change)="onFileSelected($event)">
                            </div>
                            <div class="mb-2">
                                <select class="form-control" formControlName="majorUpdate" required>
                                    <option value="" disabled selected>Choose major</option>
                                    <option *ngFor="let major of majors"  [value]="major.id">
                                        {{major.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>

                            <div *ngIf="showNotification" class="alert alert-danger mt-3">
                                Please fill out all required fields.
                            </div>  
                    </form>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="myModalBookSchedule" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true" #myModalBookSchedule>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h2 class="modal-title fs-5" id="scheduleModalLabel">Đặt lịch học</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModalBookSchedule()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="scheduleForm" (ngSubmit)="saveSchedule()">

          <!-- Dropdown chọn học viên -->
          <div class="mb-3" *ngIf="showListStudentsOfTutor">
            <label class="form-label">Chọn học viên:</label>
            <select class="form-select" name="studentId" required formControlName="studentDtoId">
              <option *ngFor="let student of studentsOfTutor" [value]="student.id">
                {{ student.name }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Ngày & Giờ bắt đầu:</label>
            <input type="datetime-local" formControlName="startTime" class="form-control" name="startTime" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Ngày & Giờ kết thúc:</label>
            <input type="datetime-local" formControlName="endTime" class="form-control" name="endTime" required>
          </div>

          <button type="submit" class="btn btn-success w-100">Book Schedule</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="myModalChatting" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true" #myModalChatting>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="chatModalLabel">Chat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalChatting()"></button>
      </div>
      <div class="modal-body">
        <div class="chat-box border rounded p-2" style="height: 300px; overflow-y: auto;">
          <div *ngFor="let wbschatmessage of wbschatmessages">

            <div *ngIf="wbschatmessage.sender === recipientName" class="d-flex justify-content-start mb-2">
                <div class="alert alert-secondary">{{wbschatmessage.content}} </div>
            </div>

            <div *ngIf="wbschatmessage.sender === userHold.username" class="d-flex justify-content-end mb-2">
                <div class="alert alert-primary">{{wbschatmessage.content}} </div>
            </div>

        </div>
        </div>
        <div class="input-group mt-3">
          <input type="text" class="form-control" [(ngModel)]="message" placeholder="Type a message...">
          <button class="btn btn-primary" (click) = "sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
